<!DOCTYPE html>

<html>
    <head>
        <title>Your prismic.io project</title>
        <script src="js/vendor/jquery-2.0.3.min.js"></script>
        <script src="js/vendor/prismic.io-1.0.8.min.js"></script>
        <script src="js/prismic-configuration.js"></script>
        <script src="js/prismic-helpers.js"></script>
        <script src="js/prismic-templates.js"></script>
    </head>
    <body>

        <header>
            <script type="text/template">
                <% if(ctx.oauth().hasPrivilegedAccess) { %>
                    <div id="toolbar">

                        <form method="GET">
                            <label for="releaseSelector">See this website: </label>
                            <select id="releaseSelector" name="ref" onchange="this.form.submit()">
                                <option value="" <% if(ctx.ref == ctx.api.data.master.ref) { %> selected="selected" <% } %> >As currently seen by guest visitors</option>
                                <optgroup label="Or preview the website in a future release:">
                                <% for(var i=0; i<ctx.api.data.refs.length; i++) { %>
                                    <% if(!ctx.api.data.refs[i].isMaster) { %>
                                        <option value="<%= ctx.api.data.refs[i].ref %>" <% if(ctx.ref == ctx.api.data.refs[i].ref) { %> selected="selected" <% } %>>As <%= ctx.api.data.refs[i].label %></option>
                                    <% } %>
                                <% } %>
                                </optgroup>
                            </select>
                        </form>

                        <form action="signout.html" method="GET">
                            <input type="submit" value="Disconnect">
                        </form>

                        <hr>

                    </div>
                <% } %>

                <a href="index.html?<%= ctx.maybeRefParam %>">
                    <h1>Your prismic.io project</h1>
                </a>
            </script>
        </header>

        <form action="search.html" method="GET">
            <script type="text/template">
                <input type="hidden" name="ref" value="<%= ctx.maybeRef %>">
                <input type="text" name="q" value="">
                <input type="submit" value="Search">
            </script>
        </form>

        <hr>

        <h2 id="title">
            <script type="text/template">
                <% if(docs.length > 0) { %>
                    <%= docs.length %> documents
                <% } else { %>
                    No documents found
                <% } %>
            </script>
        </h2>

        <ul id="list">
            <script type="text/template">
                <% for(var i=0; i<docs.length; i++) { %>
                    <li>
                        <a href="<%= ctx.linkResolver(ctx, docs[i]) %>">
                            <%= docs[i].slug %>
                        </a>
                    </li>
                <% } %>
            </script>
        </ul>

        <footer>
            <script type="text/template">
                <% if(!ctx.oauth().hasPrivilegedAccess) { %>
                    <hr><a href="signin.html">Sign in to preview changes</a>
                <% } %>
            </script>
        </footer>

        <!-- Logic -->

        <script type="text/javascript">
            $(function() {

                Helpers.withPrismic(function(ctx) {

                    ctx.api.form("everything").ref(ctx.ref).submit(function(err, docs) {

                        if (err) { Configuration.onPrismicError(err); return; }

                        // Feed the templates
                        $('header, form, #title, #list, footer').render({
                            docs: docs, 
                            ctx: ctx
                        });

                    });

                });

            });
        </script>

    </body>
</html>
