<!DOCTYPE html>

<html>
    <head>
        <title>Your prismic.io project</title>

        <!-- Scripts -->
        <script src="js/vendor/jquery-2.1.1.min.js"></script>
        <script src="js/vendor/prismic.io-1.0.28.min.js"></script>
        <script src="js/prismic-configuration.js"></script>
        <script src="js/prismic-helpers.js"></script>
        <script src="js/prismic-templates.js"></script>
    </head>
    <body>

        <header>

            <!-- Content release selectbox (only appears if the user is logged in) -->
            
            <script type="text/template">
                <% if(ctx.oauth().hasPrivilegedAccess) { %>
                    <div id="toolbar">

                        <form method="GET">
                            <label for="releaseSelector">See this website: </label>
                            <select id="releaseSelector" name="ref" onchange="this.form.submit()">
                                <option value="" <% if(ctx.ref == ctx.api.data.master.ref) { %> selected="selected" <% } %> >As currently seen by guest visitors</option>
                                <optgroup label="Or preview the website in a future release:">
                                <% for(var i=0; i<ctx.api.data.refs.length; i++) { %>
                                    <% if(!ctx.api.data.refs[i].isMaster) { %>
                                        <option value="<%= ctx.api.data.refs[i].ref %>" <% if(ctx.ref == ctx.api.data.refs[i].ref) { %> selected="selected" <% } %>>As <%= ctx.api.data.refs[i].label %></option>
                                    <% } %>
                                <% } %>
                                </optgroup>
                            </select>
                        </form>

                        <form action="signout.html" method="GET">
                            <input type="submit" value="Disconnect">
                        </form>

                        <hr>

                    </div>
                <% } %>
            </script>
        </header>

        <!-- View: bits of templates that are triggered in the controller (at the bottom) -->

        <h1 id="title">
            <script type="text/template">
                <a href="index.html?<%= ctx.maybeRefParam %>">
                    Your prismic.io project
                </a>
            </script>
        </h1>

        <form action="search.html" method="GET">
            <script type="text/template">
                <input type="hidden" name="ref" value="<%= ctx.maybeRef %>">
                <input type="text" name="q" value="">
                <input type="submit" value="Search">
            </script>
        </form>

        <hr>

        <h2 id="subtitle">
          <script type="text/template">
                <% if(docs.total_results_size > 0) { %>
                    <%= docs.total_results_size %> documents
                <% } else { %>
                    No documents found
                <% } %>
            </script>
        </h2>

        <ul id="list">
            <script type="text/template">
                <% for(var i=0; i<docs.results.length; i++) { %>
                    <li>
                        <a href="<%= ctx.linkResolver(ctx, docs.results[i]) %>">
                            <%= docs.results[i].slug %>
                        </a>
                    </li>
                <% } %>
            </script>
        </ul>

        <div id="pagination">
            <script type="text/template">
                <% if(docs.total_pages > 1) { %>
                    <hr>
                    <ul>
                        <% if (docs.page != 1) { %>
                            <li>
                                <a href="#<%= docs.page - 1 %>" data-forcereload="true">previous page</a>
                            </li>
                        <% } %>
                        <% for (var i = 1; i <= docs.total_pages; i++) { %>
                            <li>
                                <% if (docs.page == i) { %>
                                    <span><%= i %></span>
                                <% } else { %>
                                    <a href="#<%= i %>" data-forcereload="true"><%= i %></a>
                                <% } %>
                            </li>
                        <% } %>
                        <% if (docs.page != docs.total_pages) { %>
                            <li>
                                <a href="#<%= docs.page + 1 %>" data-forcereload="true">next page</a>
                            </li>
                        <% } %>
                    </ul>
                <% } %>
            </script>
        </div>

        <footer>
            <script type="text/template">
                <% if(!ctx.oauth().hasPrivilegedAccess) { %>
                    <hr><a href="signin.html">Sign in to preview changes</a>
                <% } %>
            </script>
        </footer>

        <!-- your google analytics tracker here -->

        <!-- <script> -->
        <!--   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ -->
        <!--   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), -->
        <!--   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) -->
        <!--   })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); -->

        <!--   ga('create', '', 'auto'); -->
        <!--   ga('send', 'pageview'); -->
        <!-- </script> -->

        <script src="//static.cdn.prismic.io/prismic.js"></script>

        <div id="experiment">
          <script type="text/template">
            <% if(ctx.api.experiments.current()) { %>
              <script>Helpers.loadExperimentJs("<%= ctx.api.experiments.currentGoogleId() %>");<%= closeScript %>
            <% } %>
          </script>
        </div>

        <!-- Controller (logic) -->

        <script type="text/javascript">
            $(function() {

                Helpers.withPrismic(function(ctx) {

                    ctx.api.form("everything").set('page', parseInt(window.location.hash.substring(1)) || 1 ).ref(ctx.ref).submit(function(err, docs) {

                        if (err) { Configuration.onPrismicError(err); return; }

                        // Feed the templates
                        $('header, form, #title, #subtitle, #list, #pagination, footer, #experiment').render(
                            {
                                docs: docs,
                                ctx: ctx,
                                closeScript: '</sc' + 'ript>'
                            },
                            // Useful for pagination: refresh on some links even when only anchor changed
                            function() {
                                $('[data-forcereload=true]').click(function(e){
                                    window.location = $(this).attr('href');
                                    window.location.reload();
                                });
                            }
                        );

                    });

                });

            });
        </script>

    </body>
</html>
