<!DOCTYPE html>

<html>
    <head>
        <title>JavaScript starter</title>
        <link href="css/main.css" media="all" rel="stylesheet" type="text/css">
        <script src="vendor/jquery-2.0.3.min.js"></script>
        <script src="vendor/prismic.io-1.0.0.min.js"></script>
        <script src="scripts/prismic-configuration.js"></script>
        <script src="scripts/prismic-helpers.js"></script>
    </head>
    <body class="loading">

        <header>
            <script type="text/template">
                <a href="index.html?ref=<%= ref %>">
                    <h1>Your prismic.io project</h1>
                </a>
            </script>
        </header>

        <h2 id="title">
            <script type="text/template">
                <% if(docs.length > 0) { %>
                    <%= docs.length %> documents
                <% } else { %>
                    No results found
                <% } %>
            </script>
        </h2>

        <ul id="results">
            <script type="text/template">
                <% for(var i=0; i<docs.length; i++) { %>
                    <li>
                        <a href="detail.html?id=<%= docs[i].id %>&slug=<%= docs[i].slug %>&ref=<%= ref %>">
                            <%= docs[i].slug %>
                        </a>
                    </li>
                <% } %>
            </script>
        </ul>

        <footer>
            <script type="text/template">
                <% if(!$.prismic.oauth().hasPrivilegedAccess) { %>
                    <hr><a href="signin.html">Sign in to preview changes</a>
                <% } %>
            </script>
        </footer>

        <!-- Logic -->

        <script type="text/javascript">
            $(function() {

                // Retrieve the prismic API
                $.prismic.api().then(
                    function(api) {

                        // Retrieve the ref from the QueryString or use the Master ref
                        var ref = $.prismic.queryString['ref'] || api.data.master.ref

                        // Links resolver
                        var linkResolver = $.prismic.linkResolver(api, ref);

                        // Retrieve the query
                        var q = $.prismic.queryString['q'];

                        // Full-text search
                        return api.forms("everything").ref(ref).query('[[:d = fulltext(document, "' + q + '")]]').submit().then(function(docs) {

                            // Feed the templates
                            $('header, #results, footer').render({
                                ref: ref == api.data.master.ref ? '' : ref,
                                docs: docs,
                                linkResolver: linkResolver
                            });

                        });

                    }
                ).then(function() {
                    $(document.body).removeClass('loading')
                });

            });
        </script>

    </body>
</html>
