<!DOCTYPE html>

<html>
    <head>
        <title>Your prismic.io project</title>
        <script src="js/vendor/jquery-2.0.3.min.js"></script>
        <script src="js/vendor/prismic.io-1.0.7.min.js"></script>
        <script src="js/prismic-configuration.js"></script>
        <script src="js/prismic-helpers.js"></script>
        <script src="js/prismic-templates.js"></script>
    </head>
    <body class="loading">

        <header>
            <script type="text/template">
                <a href="index.html?<%= ctx.maybeRefParam %>">
                    <h1>Your prismic.io project</h1>
                </a>
            </script>
        </header>

        <h2 id="title">
            <script type="text/template">
                <% if(docs.length > 0) { %>
                    <%= docs.length %> documents
                <% } else { %>
                    No results found
                <% } %>
            </script>
        </h2>

        <ul id="results">
            <script type="text/template">
                <% for(var i=0; i<docs.length; i++) { %>
                    <li>
                        <a href="<%= ctx.linkResolver(ctx, docs[i]) %>">
                            <%= docs[i].slug %>
                        </a>
                    </li>
                <% } %>
            </script>
        </ul>

        <footer>
            <script type="text/template">
                <% if(!ctx.oauth().hasPrivilegedAccess) { %>
                    <hr><a href="signin.html">Sign in to preview changes</a>
                <% } %>
            </script>
        </footer>

        <!-- Logic -->

        <script type="text/javascript">
            $(function() {

                Helpers.withPrismic(function(ctx) {

                    // Retrieve the query
                    var q = Helpers.queryString['q'];

                    ctx.api.form("everything").ref(ctx.ref).query('[[:d = fulltext(document, "' + q + '")]]').submit(function(docs) {

                        // Feed the templates
                        $('header, #results, footer').render({
                            docs: docs,
                            ctx: ctx
                        });

                    });

                });

            });
        </script>

    </body>
</html>
